.crouselHeader{
    
    margin: 5px;
    text-align: center;
    background: #e6f7ff;
    /* color: white; */
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.crouselHeader p{
    
    font-size: 15px;
}

.crouselBody{
    width:90%;
    margin:20px;
    
}

.leftColumn{
    width:45%;
    float:left;
    margin-top:40px;
    padding-left: 40px;
    padding-right:0px;
    padding-bottom: 40px;
    
}

.leftColumn h2{

    margin-bottom: 10px;
}


.leftColumn p{
    font-size : 12px;
}

.leftColumn img{
    height: 60%;
    width:100%;
    padding-top: 20px;
   
}


.rightColumn{
    width:45%;
    float:right;
    margin-top: 0px;
}

.rightColumn div{
    margin-top:80px;
}

.rightColumn h2{
    margin-bottom : 10px;
}

.rightColumn p{
    
    font-size: 12px;
}

.rightColumn .light{
    margin-top: 40px;
}




.rightColumn img{
    height: 60%;
    width:100%;
    padding-top: 0px;
}

.light{
    color : blue;
    font-size: 10px;
    font-weight: 500;
}


